<div class="channels-page">

    <div class="grid">

        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>

    </div>

</div>