<div class="channels-page">

    <div class="grid">

        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>
    
        <div class="keke">
            <div class="keke__content"></div>
        </div>

    </div>

    <button (click)="loadMore()" style="margin: 50px auto 0; display: table;">ПОКАЗАТЬ ЕЩЕ</button>

</div>